<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head class="templates:expand-links">
        <title>eXist-db Public App Repository</title>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="resources/css/jquery.fileupload.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/packageManager.css"/>
        <link rel="alternate" type="application/atom+xml" href="feed.xml" title="eXist-db Public Package Repository"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="resources/scripts/repo.js"/>
    </head>
    <body id="grey-top" data-template="site:expand-links" data-template-base="http://exist-db.org/">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="." id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation" data-template="site:expand-links">

                    </nav>
                </div>
                <div id="container-body" class="row">
                    <div class="col-md-12" id="content"/>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <!--ul>
                    <li>
                        <a href="{doc}/legal.xml">Legal</a>
                    </li>
                </ul-->
                <div id="copyright" class="hidden-xs">
                    <p>Copyright eXist-db Project 2014</p>
                </div>
            </div>
        </div>
    </body>
</html>
